/* EXTERNALS DEPS */
@import url(./resources/bower_components/semantic-ui-icon/icon.min.css);
/* EXTERNAL DEPS */
html, body {
  margin: 0;
  height: 100vh;
  padding: 0;
  overflow: hidden; }

ul {
  list-style: none;
  padding: 0px;
  margin: 0px; }

*:focus {
  outline: none; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.md-18 {
  font-size: 18px !important; }

.md-24 {
  font-size: 24px !important; }

.md-36 {
  font-size: 36px !important; }

.md-48 {
  font-size: 48px !important; }

/* MIXINS */
/* MAIN PAGE */
.main-main {
  width: 100%;
  height: 100%;
  background: #55ea55;
  display: flex;
  flex-direction: column; }

.main__st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.main__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.main__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.conta_input_mutator {
  width: 350px;
  margin-right: 60px;
  height: 65px;
  display: flex;
  align-self: center;
  justify-content: center; }

.con_inputs_mutator {
  width: 100%;
  height: 100%;
  flex-direction: column; }

.ul_mutator_face {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: white;
  box-shadow: 0 6px 8px rgba(28, 28, 28, 0.13);
  -webkit-animation-name: spincube;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(90deg) translateY(-65px); }

@-webkit-keyframes spincube {
  0% {
    -webkit-transform: rotateX(90deg) translateY(-65px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(-65px); } }
  .ul_mutator_face li {
    height: 100%;
    display: flex;
    justify-content: center; }
  .ul_mutator_face .icon_type {
    width: 20%;
    font-size: 26px; }
    .ul_mutator_face .icon_type i {
      align-self: center;
      -webkit-animation-name: user;
      -webkit-animation-timing-function: ease;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 0.7s;
      margin-bottom: 5px; }

@keyframes user {
  0% {
    -webkit-transform: translate(0, 0px); }
  50% {
    -webkit-transform: translate(0, 6px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
  .ul_mutator_face .input_mut {
    width: 60%; }
  .ul_mutator_face .icon_arrow {
    width: 20%;
    height: 100%;
    display: flex;
    font-size: 20px;
    cursor: pointer; }
    .ul_mutator_face .icon_arrow i {
      align-self: center; }

.ul_mutator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: white;
  box-shadow: 0 6px 8px rgba(28, 28, 28, 0.13);
  -webkit-animation-name: spincube2;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d; }

@-webkit-keyframes spincube2 {
  0% {
    -webkit-transform: rotateX(90deg) translateY(-65px); }
  50% {
    -webkit-transform: rotateX(0deg) translateY(0px); } }
  .ul_mutator li {
    height: 100%;
    display: flex;
    justify-content: center; }
  .ul_mutator .icon_type {
    width: 20%;
    font-size: 26px; }
    .ul_mutator .icon_type i {
      align-self: center;
      -webkit-animation-name: user;
      -webkit-animation-timing-function: ease;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration: 0.7s;
      margin-bottom: 5px; }

@keyframes user {
  0% {
    -webkit-transform: translate(0, 0px); }
  50% {
    -webkit-transform: translate(0, 6px); }
  100% {
    -webkit-transform: translate(0, 0px); } }
  .ul_mutator .input_mut {
    width: 60%; }
  .ul_mutator .icon_arrow {
    width: 20%;
    height: 100%;
    display: flex;
    font-size: 20px;
    cursor: pointer; }
    .ul_mutator .icon_arrow i {
      align-self: center; }

.quest_circles {
  width: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .quest_circles li:nth-child(1) {
    margin-top: 0;
    opacity: 10; }
  .quest_circles li {
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: white;
    margin-top: 9px;
    opacity: 0.6; }

.input_mutator {
  width: 100%;
  height: 100%;
  border: 0px;
  font-size: 20px;
  padding: 0px !important;
  margin: 0px !important; }

/* CONTROLLER PAGE */
/*ROTATE SPIN*/
.main-controller {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.sc_st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.sc__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.sc__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.circleContainer {
  position: relative;
  width: 230px;
  height: 230px;
  display: flex;
  align-self: center;
  padding: 0px !important;
  margin: 0px !important; }

.circlesOn {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  cursor: none;
  z-index: 9999;
  -webkit-animation-name: spin1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.7s; }

@-webkit-keyframes spin1 {
  to {
    -webkit-transform: rotate(360deg); } }

/* SCREEN PAGE */
.main-screen {
  width: 100%;
  height: 100%;
  background: #FFF;
  display: flex;
  flex-direction: row; }

.con__st_top {
  width: 100%;
  height: 10%;
  padding: 0px !important;
  margin: 0px !important; }

.con__st_mid {
  width: 100%;
  height: 80%;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.con__st_bot {
  width: 100%;
  height: 10%;
  padding: 0px !important;
  margin: 0px !important; }
