/* EXTERNALS DEPS */
@import url(./resources/bower_components/semantic-ui-icon/icon.min.css);
/* EXTERNAL DEPS */
/* MIXINS */
/* VARIABLES GLOBALES */
html, body {
  margin: 0;
  height: 100vh;
  padding: 0;
  overflow: hidden; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

*:focus {
  outline: none; }

a {
  color: inherit !important;
  height: 100% !important;
  width: auto !important; }

a:active {
  color: inherit !important; }

p {
  font-family: "Roboto";
  color: #263238; }

/* PLACE HOLDERS */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #B0BEC5; }

::-ms-clear {
  display: none; }

/* SPA SWICHER */
#swittcher {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #swittcher section {
    width: 100%;
    height: 100%; }

.sw_select_out {
  -webkit-animation-name: switchSectionOut;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  overflow: hidden; }

@keyframes switchSectionOut {
  to {
    height: 0; } }

.sw_select_in {
  -webkit-animation-name: switchSectionIn;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  overflow: hidden; }

@keyframes switchSectionIn {
  0% {
    height: 0; }
  50% {
    height: 130%; }
  100% {
    height: 100%; } }

#section-test {
  width: 100%;
  height: 100%;
  background: #FF1744; }

/* Material icon font configurations */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal; }

.md-18 {
  font-size: 18px !important; }

.md-24 {
  font-size: 24px !important; }

.md-36 {
  font-size: 36px !important; }

.md-48 {
  font-size: 48px !important; }

@font-face {
  font-family: "roboto";
  src: url("./resources/fonts/Roboto/Roboto-Regular.ttf"); }

@font-face {
  font-family: "impact";
  src: url("./resources/fonts/impact.ttf"); }

.text-center {
  text-align: center; }

/* MAIN PAGE */
@media screen and (min-width: 1024px) {
  .con_inputs_mutator {
    margin-right: 0 !important; } }

.panel_l_container {
  width: 10%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 50%; }

.ul_panel_lateral {
  width: 100%;
  height: 100%;
  flex-direction: row; }
  .ul_panel_lateral li {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center; }
    .ul_panel_lateral li i {
      align-self: center;
      padding: 10px;
      font-size: 30px;
      cursor: pointer; }
      .ul_panel_lateral li i:hover {
        color: #1997f6; }

.main-main, .main-main_error {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, #FFEE58 0%, #FFEE58 100%);
  display: flex;
  flex-direction: column; }

.main-main_error {
  background: #FF1744; }

.main__st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.main__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px !important;
  margin: 0px !important; }

.main__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.conta_input_mutator {
  width: 100%;
  max-width: 350px;
  height: 65px;
  display: flex;
  align-self: center;
  justify-content: center; }

.con_inputs_mutator {
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin-right: 10%; }

.input_mutator {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 20px;
  color: #263238;
  padding: 0px !important;
  margin: 0px !important; }

.ul_mutator_out {
  -webkit-animation-name: inputChangeOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards; }

@keyframes inputChangeOut {
  0% {
    -webkit-transform: scale(1); }
  25% {
    -webkit-transform: scale(1.1); }
  50% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: scale(1) translateY(50px);
    opacity: 0; } }

.ul_mutator_enter {
  -webkit-animation-name: inputChangeEnter;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  opacity: 0; }

@keyframes inputChangeEnter {
  0% {
    -webkit-transform: scale(0.2); }
  60% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    opacity: 10; } }

.ul_mutator_error {
  -webkit-animation-name: inputErrornormal;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards; }

@keyframes inputErrornormal {
  0% {
    -webkit-transform: rotateZ(0deg); }
  25% {
    -webkit-transform: rotateZ(7deg); }
  50% {
    -webkit-transform: rotateZ(0deg); }
  75% {
    -webkit-transform: rotateZ(-7deg); }
  100% {
    -webkit-transform: rotateZ(0deg); } }

.ul_mutator_error_iterator {
  -webkit-animation-name: inputErroriterator;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards; }

@keyframes inputErroriterator {
  0% {
    -webkit-transform: rotateZ(0deg); }
  25% {
    -webkit-transform: rotateZ(7deg); }
  50% {
    -webkit-transform: rotateZ(0deg); }
  75% {
    -webkit-transform: rotateZ(-7deg); }
  100% {
    -webkit-transform: rotateZ(0deg); } }

.ul_mutator, .ul_mutator_out, .ul_mutator_enter, .ul_mutator_error, .ul_mutator_error_iterator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 0px;
  background: white;
  box-shadow: 0 6px 8px rgba(28, 28, 28, 0.13);
  opacity: 1; }
  .ul_mutator li, .ul_mutator_out li, .ul_mutator_enter li, .ul_mutator_error li, .ul_mutator_error_iterator li {
    height: 100%;
    display: flex;
    justify-content: center; }
  .ul_mutator .icon_type, .ul_mutator_out .icon_type, .ul_mutator_enter .icon_type, .ul_mutator_error .icon_type, .ul_mutator_error_iterator .icon_type, .ul_mutator .icon_type_animate, .ul_mutator_out .icon_type_animate, .ul_mutator_enter .icon_type_animate, .ul_mutator_error .icon_type_animate, .ul_mutator_error_iterator .icon_type_animate {
    width: 20%;
    font-size: 26px;
    color: #263238; }
    .ul_mutator .icon_type i, .ul_mutator_out .icon_type i, .ul_mutator_enter .icon_type i, .ul_mutator_error .icon_type i, .ul_mutator_error_iterator .icon_type i, .ul_mutator .icon_type_animate i, .ul_mutator_out .icon_type_animate i, .ul_mutator_enter .icon_type_animate i, .ul_mutator_error .icon_type_animate i, .ul_mutator_error_iterator .icon_type_animate i {
      align-self: center;
      margin-bottom: 5px; }
  .ul_mutator .icon_type_animate i, .ul_mutator_out .icon_type_animate i, .ul_mutator_enter .icon_type_animate i, .ul_mutator_error .icon_type_animate i, .ul_mutator_error_iterator .icon_type_animate i {
    -webkit-animation-name: iconAnimate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite; }

@keyframes iconAnimate {
  0% {
    -webkit-transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0); } }
  .ul_mutator .input_mut, .ul_mutator_out .input_mut, .ul_mutator_enter .input_mut, .ul_mutator_error .input_mut, .ul_mutator_error_iterator .input_mut {
    width: 60%;
    height: 99%; }
  .ul_mutator .icon_arrow, .ul_mutator_out .icon_arrow, .ul_mutator_enter .icon_arrow, .ul_mutator_error .icon_arrow, .ul_mutator_error_iterator .icon_arrow {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 20px;
    cursor: pointer;
    color: #263238;
    -webkit-animation-name: arrownopressed;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards; }

@keyframes arrownopressed {
  from {
    color: #FFD600;
    -webkit-transform: translateX(5px); }
  to {
    color: #263238;
    -webkit-transform: translateX(0px); } }
    .ul_mutator .icon_arrow:hover, .ul_mutator_out .icon_arrow:hover, .ul_mutator_enter .icon_arrow:hover, .ul_mutator_error .icon_arrow:hover, .ul_mutator_error_iterator .icon_arrow:hover {
      -webkit-animation-name: arrowpressed;
      -webkit-animation-timing-function: ease;
      -webkit-animation-duration: 0.4s;
      -webkit-animation-fill-mode: forwards; }

@keyframes arrowpressed {
  to {
    color: #FFD600;
    -webkit-transform: translateX(5px); } }
    .ul_mutator .icon_arrow i, .ul_mutator_out .icon_arrow i, .ul_mutator_enter .icon_arrow i, .ul_mutator_error .icon_arrow i, .ul_mutator_error_iterator .icon_arrow i {
      align-self: center;
      -webkit-transform: rotateZ(-90deg); }

.mut_links {
  width: 20% !important; }

.circlesInit {
  -webkit-animation-name: circleAnimation;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards; }

@keyframes circleAnimation {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.5); }
  100% {
    -webkit-transform: scale(1);
    opacity: 0.6; } }

.circleFocus {
  -webkit-animation-name: show;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: circleAnimationOnly;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 10; } }

@keyframes circleAnimationOnly {
  0% {
    -webkit-transform: scale(0); }
  60% {
    -webkit-transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    opacity: 10; } }

.circlesSelected {
  -webkit-animation-name: show;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: circleAnimationOnly;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards; }

@keyframes show {
  from {
    opacity: 0; }
  to {
    opacity: 10; } }

@keyframes circleAnimationOnly {
  0% {
    -webkit-transform: scale(0); }
  60% {
    -webkit-transform: scale(2); }
  100% {
    -webkit-transform: scale(1);
    opacity: 10; } }

.quest_circles {
  width: 10%;
  margin-left: 3%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .quest_circles li:nth-child(1) {
    margin-top: 8px; }
  .quest_circles li {
    width: 10px;
    height: 10px;
    border-radius: 0;
    background: white;
    margin-top: 9px;
    opacity: 0; }

.mutator_messages {
  width: 200px;
  height: 0;
  align-self: center;
  margin-top: 50px;
  font-size: 18px;
  color: white;
  font-family: "roboto"; }

/* MELO PAGE */
.main-melo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

/* LINKER PAGE */
.main-linker {
  width: 100%;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column; }

.main_linker__st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.main_linker__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px !important;
  margin: 0px !important; }

.main_linker__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

/* NEXUS PAGE */
/*@media screen and (max-width: 1023px) {
    .con_selection {
        flex-direction: column !important;
    }
}

@media screen and (min-width: 1023px) {

    .main_nex__st_top {
        height: 50% !important;
    }

    .main_nex__st_mid {
        justify-content: center !important;
        height: 40% !important;
    }

    .main_nex__st_bot {
        height: 100% !important;
    }
}*/
.icons8-User-Female {
  /* Customizes User Female icon */
  fill: #false;
  width: 80%;
  height: 80%; }

.icon {
  /* Customizes all icons at once */
  display: inline-block;
  align-self: center; }

.icons8-User-Male {
  /* Customizes User Male icon */
  fill: #false;
  width: 80%;
  height: 80%; }

.icons8-controller {
  width: 80%;
  height: 80%;
  -webkit-filter: drop-shadow(0 0 5px rgba(51, 51, 51, 0.25)); }

.icons8 {
  /* Customizes all icons at once */
  display: inline-block;
  align-self: center;
  shape-rendering: auto; }

/* ALIEN FIGURE */
.icons8-Alien {
  width: 80%;
  height: 80%; }

.ant-right {
  -webkit-animation-name: animateAntR;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse; }

@keyframes animateAntR {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(-1deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

.ant-letf {
  -webkit-animation-name: animateAntL;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate-reverse; }

@keyframes animateAntL {
  0% {
    -webkit-transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(5deg); }
  100% {
    -webkit-transform: rotate(0deg); } }

.alien-eye {
  -webkit-animation-name: alienEye;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
  -webkit-animation-direction: alternate-reverse;
  -webkit-animation-delay: 4s; }

@keyframes alienEye {
  0% {
    -webkit-transform: translateY(0); }
  20% {
    -webkit-transform: translateX(2px) translateY(0px); }
  40% {
    -webkit-transform: translateX(-2px) translateY(0px); }
  90% {
    -webkit-transform: translateX(-1px) translateY(3px); }
  100% {
    -webkit-transform: translateY(0px); } }

/* SECTION CUSTOMS */
.section-default {
  background: #FFF; }

.section-cube1 {
  background: #FFEE58; }

.section-cube2 {
  background: #73ee5b; }

.section-cube3 {
  background: #00c8ff; }

.icons-default {
  color: #333; }
  .icons-default:hover {
    color: #1796f5 !important; }

.icons-cubr1 {
  color: #ff5722; }
  .icons-cubr1:hover {
    color: white !important; }

.icons-cube2 {
  color: #ba68c8; }
  .icons-cube2:hover {
    color: white !important; }

.icons-cube3 {
  color: #FFF; }
  .icons-cube3:hover {
    color: #FFEB3B !important; }

.cn_panelLateralLeft {
  left: 40px;
  width: 80px;
  height: 200px;
  display: flex;
  align-self: center;
  margin-left: 20px;
  margin-right: 8px;
  -webkit-animation-name: boxAnimate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite; }

@keyframes boxAnimate {
  0% {
    -webkit-transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0); } }

.panelLL-alternative {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80px;
  max-width: 80px;
  opacity: 0.1; }
  .panelLL-alternative li:hover {
    -webkit-animation-name: arrowsGoTo;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards; }

@keyframes arrowsGoTo {
  0% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-5px); } }
  .panelLL-alternative li:nth-child(1) {
    margin-bottom: 50px; }
  .panelLL-alternative span {
    content: "";
    position: relative;
    width: 100%;
    height: 0;
    border-top: 80px solid #9f9f9f;
    border-right: 80px solid transparent;
    display: flex;
    opacity: 0.1;
    padding: 0px !important;
    margin: 0px !important; }
  .panelLL-alternative li {
    width: 100%;
    display: flex;
    border: 4px solid #4a4a4a;
    justify-content: center;
    cursor: pointer;
    -webkit-animation-name: arrowsGoToOut;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    /* desplazament top buttons arrowns */ }

@keyframes arrowsGoToOut {
  from {
    -webkit-transform: translateY(-5px); }
  to {
    -webkit-transform: translateY(0px); } }
    .panelLL-alternative li i {
      position: absolute;
      align-self: center;
      top: 20px;
      left: 20px;
      font-size: 35px;
      color: #4a4a4a;
      padding: 0px !important;
      margin: 0px !important; }

.ul_panelLL {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80px;
  max-width: 80px; }
  .ul_panelLL li:hover {
    -webkit-animation-name: arrowsGoTo;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards; }

@keyframes arrowsGoTo {
  0% {
    -webkit-transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-5px); } }
  .ul_panelLL li:nth-child(1) {
    margin-bottom: 50px; }
  .ul_panelLL span {
    content: "";
    position: relative;
    width: 100%;
    height: 0;
    border-top: 80px solid #FFF;
    border-right: 80px solid transparent;
    display: flex;
    opacity: 0.1;
    padding: 0px !important;
    margin: 0px !important; }
  .ul_panelLL li {
    width: 100%;
    display: flex;
    border: 4px solid #FFF;
    justify-content: center;
    cursor: pointer;
    -webkit-animation-name: arrowsGoToOut;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    /* desplazament top buttons arrowns */ }

@keyframes arrowsGoToOut {
  from {
    -webkit-transform: translateY(-5px); }
  to {
    -webkit-transform: translateY(0px); } }
    .ul_panelLL li i {
      position: absolute;
      align-self: center;
      top: 20px;
      left: 20px;
      font-size: 35px;
      color: #FFF;
      padding: 0px !important;
      margin: 0px !important; }

.main-nexus {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.section_type__st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.section_type__st_mid {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  padding: 0px !important;
  margin: 0px !important; }

.sec_type_md_left {
  width: 10%;
  height: 100%;
  display: flex; }

.sec_type_md_mid {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center; }

.sec_type_md_right {
  width: 10%;
  height: 100%;
  display: flex; }

.section_type__st_bot {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.section_link__st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.section_link__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0px !important;
  margin: 0px !important; }

.section_link__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.section_contact__st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.section_contact__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  padding: 0px !important;
  margin: 0px !important; }

.sec_contact_md_left {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center; }

.sec_contact_md_mid {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center; }

.sec_contact_md_right {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center; }

.section_contact__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.nex_text_container {
  align-self: flex-start;
  font-size: 45px;
  font-family: "Roboto";
  color: #464646;
  -webkit-animation-name: nexTextContainer;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0.4s;
  opacity: 0; }

@keyframes nexTextContainer {
  0% {
    -webkit-transform: scale(0.2); }
  60% {
    -webkit-transform: scale(1.1); }
  100% {
    opacity: 8; } }

.nex_text_container_out {
  align-self: center;
  font-size: 45px;
  font-family: "Roboto";
  color: #464646;
  -webkit-animation-name: nexTextContainerOut;
  -webkit-animation-timing-function: ease;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
  align-self: flex-start; }

@keyframes nexTextContainerOut {
  0% {
    -webkit-transform: scale(1); }
  25% {
    -webkit-transform: scale(1.1); }
  50% { }
  100% {
    -webkit-transform: translateY(50px);
    opacity: 0; } }

.con_selection {
  width: 70%;
  display: flex;
  align-self: center;
  flex-direction: row;
  justify-content: center; }

.stage {
  width: 180px;
  height: 180px;
  margin-right: 2%;
  margin-left: 2%;
  align-self: center;
  -webkit-perspective: 1600px;
  -webkit-perspective-origin: 50% -240px;
  cursor: pointer;
  -webkit-animation-name: boxAnimate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite; }

@keyframes boxAnimate {
  0% {
    -webkit-transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0); } }

.cube {
  width: 200px;
  height: 170px;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s ease; }
  .cube:hover {
    -webkit-transform: rotateY(-360deg) scale(1.3); }

.figure_box {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  -webkit-transform-origin: 50% 50% 0; }

.front {
  -webkit-transform: translateZ(60px);
  display: flex;
  justify-content: center; }

.back {
  -webkit-transform: rotateY(180deg) translateZ(60px); }

.top {
  -webkit-transform: rotateX(90deg) translateZ(60px); }

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(60px);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2); }

.left {
  -webkit-transform: rotateY(-90deg) translateZ(60px); }

.right {
  -webkit-transform: rotateY(90deg) translateZ(60px); }

.figure0 {
  background: -webkit-linear-gradient(top, #FFEE58 0, #FFEE58 100%);
  border: 1px solid #FFEE58; }

.figure1 {
  background: -webkit-linear-gradient(top, #74ef5c 0, #6feb57 100%);
  border: 1px solid #74ef5c; }

.figure2 {
  background: -webkit-linear-gradient(top, #00c8ff 0, #00c8ff 100%);
  border-collapse: collapse; }

.linker {
  width: 180px;
  height: 180px;
  display: flex;
  align-self: center;
  justify-content: center; }
  .linker canvas {
    align-self: center; }

.link_cn_middle {
  width: 100%;
  height: 100%;
  margin-right: 5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

.link_cn_container {
  width: 60%;
  height: 80%;
  display: flex;
  align-self: center; }

.contact_cn_middle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }

.contact_cn_container {
  width: 60%;
  height: 80%;
  display: flex;
  align-self: center;
  justify-content: center; }
  .contact_cn_container p {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 70px;
    font-weight: 700;
    color: white;
    font-family: 'roboto',Helvetica,Arial,sans-serif; }

.link_cn_ul {
  width: 100%;
  height: 100%;
  display: flex; }
  .link_cn_ul li {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 5px;
    justify-content: center; }
  .link_cn_ul li:nth-child(2) {
    width: 0px; }

.cn_link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px !important;
  margin: 0px !important; }

.top_link_post {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  -webkit-animation-name: boxAnimate;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 0.7s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite; }
  .top_link_post svg {
    cursor: pointer; }

@keyframes boxAnimate {
  0% {
    -webkit-transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0); } }

.mid_link_post {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column; }
  .mid_link_post p {
    align-self: center;
    font-size: 35px;
    padding: 0px !important;
    margin: 0px !important;
    -webkit-animation-name: boxAnimate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite; }

@keyframes boxAnimate {
  0% {
    -webkit-transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 5px); }
  100% {
    -webkit-transform: translate(0, 0); } }

.icons8-controller {
  width: 140px;
  height: 140px;
  align-self: center; }

/* CONTROLLER PAGE */
/*ROTATE SPIN*/
.main-controller {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.sc_st_top {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.sc__st_mid {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.sc__st_bot {
  width: 100%;
  height: 10%;
  display: flex;
  padding: 0px !important;
  margin: 0px !important; }

.circleContainer {
  position: relative;
  width: 230px;
  height: 230px;
  display: flex;
  align-self: center;
  padding: 0px !important;
  margin: 0px !important; }

.circlesOn {
  position: absolute;
  margin: 0 !important;
  padding: 0 !important;
  cursor: none;
  z-index: 9999;
  -webkit-animation-name: spin1;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 0.8s; }

@-webkit-keyframes spin1 {
  to {
    -webkit-transform: rotate(360deg); } }

/* SCREEN PAGE */
.main-screen {
  width: 100%;
  height: 100%;
  background: #FFF;
  display: flex;
  flex-direction: row; }

.con__st_top {
  width: 100%;
  height: 10%;
  padding: 0px !important;
  margin: 0px !important; }

.con__st_mid {
  width: 100%;
  height: 80%;
  justify-content: center;
  padding: 0px !important;
  margin: 0px !important; }

.con__st_bot {
  width: 100%;
  height: 10%;
  padding: 0px !important;
  margin: 0px !important; }
