
// LEFT IN
@mixin leftIn($distance, $speed) {
    -webkit-animation-name: leftAnimate;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: $speed;

    @-webkit-keyframes leftAnimate {
        0% {
            padding-left: 0px;
        }

        100% {
            padding-left: $distance;
        }
    }
}


@mixin sw_select_out() {
    -webkit-animation-name: switchSectionOut;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-fill-mode: forwards;

    @keyframes switchSectionOut {
        to {
            height: 0;
        }
    }
}

@mixin sw_select_in() {
    -webkit-animation-name: switchSectionIn;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    @keyframes switchSectionIn {
        0% {
            height: 0;
        }
        50% {
            height: 130%;
        }
        100% {
             height: 100%;
        }
    }
}


@mixin animateSectionsIn() {
    -webkit-animation-name: animateSectionsIn;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;

    @keyframes animateSectionsIn {
        0% {
        }

        50% {
            -webkit-transform: translateY(30px);
        }

        100% {
            -webkit-transform: translateY(0px);
        }
    }
}
