
.main-linker {
    width: 100%;
    height: 100%;
    background: $main_linker;
    display: flex;
    flex-direction: column;
}

.main_linker__st_top {
    width: 100%;
    height: 10%;
    display: flex;
    @include collapse();
}

.main_linker__st_mid {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include collapse();
}

.main_linker__st_bot {
    width: 100%;
    height: 10%;
    display: flex;
    @include collapse();
}
