@mixin inputChange() {
    -webkit-animation-name: inputChange;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    opacity: 0;

    @keyframes inputChange {
        0% {
            -webkit-transform: scale(0.2);
        }

        60% {
            -webkit-transform: scale(1.1);
        }

        100% {
            -webkit-transform: scale(1);
            opacity: 10;
        }
    }
}


@mixin arrowChange() {
    -webkit-animation-name: arrowChange;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: forwards;
    @keyframes arrowChange {
        to {
            -webkit-transform: translate(0px, 5px);
        }
       
    }
}

@mixin arrowChangeUp() {
    -webkit-animation-name: arrowChangeUp;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.5s;
    @keyframes arrowChangeUp {
        from {
            -webkit-transform: translate(0px, 5px);
        }
        to {
            -webkit-transform: translate(0px, 0px);
        }
       
    }
}
