$margins: 10%;

@media screen and (min-width: 1024px) {
    .con_inputs_mutator {
        margin-right: 0 !important;
    }
}

// LATERAL PANEL

.panel_l_container {
    width: 10%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
}

.ul_panel_lateral {
    width: 100%;
    height: 100%;
    flex-direction: row;
    li {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        i {
            align-self: center;
            padding: 10px;
            font-size: 30px;
            color: #333;
            cursor: pointer;
            &:hover {
                color: $globalHover;
            }
        }
    }
}


// PRINCIPAL ESTRUCTURE
.colorChild {
    //color: #F44336;
}

.colorLock {
    //color: #3D5AFE;
}

.colorRocket {
    //color: #3D5AFE;
}

.main-main {
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, $main_bg 0%, $main_bgTw 100%);
    display: flex;
    flex-direction: column;
}

.main-main_error {
    @extend .main-main;
    background: $error_bg;
}

.main__st_top {
    width: 100%;
    height: 10%;
    display: flex;
    @include collapse();
}

.main__st_mid {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include collapse();
}

.main__st_bot {
    width: 100%;
    height: 10%;
    display: flex;
    @include collapse();
}

// ELEMENTS
.conta_input_mutator {
    width: 100%;
    max-width: 350px;
    height: 65px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.con_inputs_mutator {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-right: $margins;
}


.input_mutator {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 20px;
    color: $globalFontColor;
    @include collapse();
}

.ul_mutator_out {
    @extend .ul_mutator;
    @include inputChangeOut();
}

.ul_mutator_enter {
    @extend .ul_mutator;
    @include inputChangeEnter();
}

.ul_mutator_error {
    @extend .ul_mutator;
    @include inputError(normal);
}

.ul_mutator_error_iterator {
    @extend .ul_mutator;
    @include inputError(iterator);
}

.ul_mutator {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0px;
    background: white;
    box-shadow: 0 6px 8px rgba(#1c1c1c, 0.13);
    opacity: 1;

    li {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .icon_type {
        width: 20%;
        font-size: 26px;
        color: $globalItemColor;

        i {
            align-self: center;
            margin-bottom: 5px;
        }
    }

    .icon_type_animate {
        @extend .icon_type;

        i {
            @include iconAnimate();
        }
    }

    .input_mut {
        width: 60%;
        height: 99%;
    }

    .icon_arrow {
        width: 100%;
        height: 100%;
        display: flex;
        font-size: 20px;
        cursor: pointer;
        color: $globalItemColor;
        @include arrowChange(nopressed, up);

        &:hover {
            @include arrowChange(pressed, hover);
        }

        i {
            align-self: center;
            -webkit-transform: rotateZ(-90deg);
        }
    }
}

.mut_links {
    width: 20% !important;
}

.circlesInit {
    @include circleAnimation();
}

.circleFocus {
    @include show();
    @include circleAnimationOnly();
}

.circlesSelected {
    @include show();
    @include circleAnimationOnly();
}

.quest_circles {
    width: $margins;
    margin-left: 3%;
    margin-right: 2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    li:nth-child(1) {
        margin-top: 8px;
    }

    li {
        width: 10px;
        height: 10px;
        border-radius: 0;
        background: white;
        margin-top: 9px;
        opacity: 0;
    }
}

.mutator_messages {
    width: 200px;
    height: 0;
    align-self: center;
    margin-top: 50px;
    font-size: 18px;
    color: white;
    font-family: "roboto";
}
