
$rotationSpeed: 1s;

// ALIEN ANIMATE
@mixin alienEye() {
    -webkit-animation-name: alienEye;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: 2s;
    -webkit-animation-direction: alternate-reverse;
    -webkit-animation-delay: 4s;
    @keyframes alienEye {
        0% {
            -webkit-transform: translateY(0);
        }

        20% {
            -webkit-transform: translateX(2px) translateY(0px);
        }

        40% {
            -webkit-transform: translateX(-2px) translateY(0px);
        }

        90% {
            -webkit-transform: translateX(-1px) translateY(3px);
        }

        100% {
            -webkit-transform: translateY(0px);
        }
    }
}


@mixin animateAntR() {
    -webkit-animation-name: animateAntR;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;

    @keyframes animateAntR {
        0% {
            -webkit-transform: rotate(0deg);
        }

        50% {
            -webkit-transform: rotate(-1deg);
        }

        100% {
            -webkit-transform: rotate(0deg);
        }
    }
}


@mixin animateAntL() {
    -webkit-animation-name: animateAntL;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate-reverse;

    @keyframes animateAntL {
        0% {
            -webkit-transform: rotate(0deg);
        }

        50% {
            -webkit-transform: rotate(5deg);
        }

        100% {
            -webkit-transform: rotate(0deg);
        }
    }
}


@mixin boxAnimate() {
    -webkit-animation-name: boxAnimate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    @keyframes boxAnimate {
        0% {
            -webkit-transform: translate(0, 0);
        }

        50% {
            -webkit-transform: translate(0, 5px);
        }

        100% {
            -webkit-transform: translate(0, 0);
        }
    }
}


@mixin nexTextContainer() {
    -webkit-animation-name: nexTextContainer;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 0.4s;
    opacity: 0;
    @keyframes nexTextContainer {
        0% {
            -webkit-transform: scale(0.2);
        }

        60% {
            -webkit-transform: scale(1.1);
        }

        100% {
            opacity: 8;
        }
     }
}

@mixin nexTextContainerOut() {
    -webkit-animation-name: nexTextContainerOut;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: forwards;
    align-self: flex-start;
    @keyframes nexTextContainerOut {
        0% {
            -webkit-transform: scale(1);
        }

        25% {
            -webkit-transform: scale(1.1);
        }

        50% {
        }

        100% {
            -webkit-transform: translateY(50px);
            opacity: 0;
        }
     }
}


@mixin arrowsGoTo() {
    -webkit-animation-name: arrowsGoTo;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;
    @keyframes arrowsGoTo {
        0% {
            -webkit-transform: translateY(0);
        }

        100% {
            -webkit-transform:  translateY(-5px);
        }
     }
}

@mixin arrowsGoToOut() {
    -webkit-animation-name: arrowsGoToOut;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.2s;
    -webkit-animation-fill-mode: forwards;

    @keyframes arrowsGoToOut {
        from {
            -webkit-transform:  translateY(-5px);
        }

        to {
            -webkit-transform:  translateY(0px);
        }
     }
}


@mixin linkerGetCode() {
    -webkit-animation-name: linkerGetCode;
    -webkit-animation-timing-function: ease;
    -webkit-animation-duration: 0.7s;

    @keyframes linkerGetCode {
        0% {
            -webkit-transform:  scale(1);
        }
        50% {
             -webkit-transform:  scale(1.2);
        }
        100% {
             -webkit-transform:  scale(1);
        }
     }
}


@mixin linkerGetCodeWait() {
    -webkit-animation-name: linkerGetCodeWait;
    -webkit-animation-timing-function: linear;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;

    @keyframes linkerGetCodeWait {
        to {
            -webkit-transform: rotate(360deg);
        }
    }
}