
/* VARIABLES GLOBALES */
$main_bg: #a641f2;
$nexus_bg: #ffffff;
$globalItemColor: #263238;
$globalFontColor: #263238;
$presseds: #FFD600;
$error_bg: #FF1744;

html, body {
    margin: 0;
    height: 100vh;
    padding: 0;
    overflow: hidden;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

a {
    color: inherit !important;
    height: 100% !important;
    width: auto !important;
}

a:active {
    color: inherit !important;
}


p {
    font-family: "Roboto";
    color: $globalFontColor;
}

/* PLACE HOLDERS */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #B0BEC5;
}

::-ms-clear {
    display: none;
}

/* Material icon font configurations */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
}

.md-18 {
    font-size: 18px !important;
}

.md-24 {
    font-size: 24px !important;
}

.md-36 {
    font-size: 36px !important;
}

.md-48 {
    font-size: 48px !important;
}

// FONTS
@mixin getFont($name, $url) {
    @font-face {
        font-family: $name;
        src: url($url);
    }
}

@include getFont('roboto', './resources/fonts/Roboto/Roboto-Regular.ttf');


.text-center {
    text-align: center;
}
